<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../../public/css/admin/cars.css">
    <link rel="stylesheet" href="../../public/css/admin/forms.css">
    
</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <main>
      <div class="product-form">
        <form action="/add-details/<%= product.id %>" method="post" id="product-form-container">
          <!-- will be filled from javascript below -->
        </form> 
      </div>

      <script>
        var productForm = document.getElementById('product-form-container');

        var elements = [
          {
            item: 'carousel',
            label: 'Carousel',
            count : 8
          },
          {
            item: 'pageHeader',
            label: 'Page Header',
            count : 1
          },
          {
            item: 'imageUrl|vehicleHeader|vehicleText',
            label: 'Image Url|Vehicle Header|Vehicle Text',
            count : 3
          },
          {
            item: 'bodyStyle|lengthWidthWheelBase|chassisType|chassisMaterial|enginePlacement|Suspension|cargoSpace',
            label: 'Body Style|Length Width WheelBase|Chassis Type|Chassis Material|Engine Placement|Suspension|Cargo Space',
            count : 1
          },
          {
            item: 'attribute',
            label: 'Attribute',
            count : 2
          },
          {
            item: 'engine',
            label: 'Engine',
            count : 2
          },
          {
            item: 'engineMaterial',
            label: 'Engine Material',
            count : 2
          },
          {
            item: 'horsepower',
            label: 'Horsepower',
            count : 2
          },
          {
            item: 'torque',
            label: 'Torque',
            count : 2
          },
          {
            item: 'acc',
            label: 'Acceleration',
            count : 2
          },
          {
            item: 'fuel',
            label: 'Fuel',
            count : 2
          },
          {
            item: 'topSpeed',
            label: 'Top Speed',
            count : 2
          },
          {
            item: 'trans',
            label: 'Transmission',
            count : 2
          },
          {
            item: 'weight',
            label: 'Weight',
            count : 2
          },
          {
            item: 'tyres',
            label: 'Tyres',
            count : 2
          },
          {
            item: 'drivingAid11|drivingAid12|drivingAid13|drivingAid21|drivingAid22|drivingAid23',
            label: 'Driving Aids 11|Driving Aids 12|Driving Aids 13|Driving Aids 21|Driving Aids 22|Driving Aids 23',
            count : 1
          },
        ]; 
        
        for(var j = 0; j < elements.length; j++){
          var element = elements[j].item;
          var elementLabel = elements[j].label;
          var count = elements[j].count;

          for(var k = 0; k < count; k++){
            var subElements = element.split('|');
            var subLabels = elementLabel.split('|'); //should be the same length as subElements
            for(var i = 0; i < subElements.length; i++){
              var div = document.createElement('div');
              div.className = 'form-control';
              var label = document.createElement('label');
              label.for = subElements[i] + ((count == 1)? '' : (parseInt(i) + 1)); // if count == 1, do not put the number
              label.innerHTML = subLabels[i] + ' ' + ((count == 1)? '' : (parseInt(i) + 1)); 

              div.appendChild(label);

              var input = document.createElement('input');
              input.type = 'text';
              input.name = subElements[i] + ((count == 1)? '' : (parseInt(i) + 1));
              input.id = subElements[i] + ((count == 1)? '' : (parseInt(i) + 1));
              div.appendChild(input);
              productForm.appendChild(div);
            }
            
          }
        }
        var button = document.createElement('input');
        button.className = 'btn';
        button.type = 'submit';
        button.value = 'Submit Details';
        productForm.appendChild(button);
      </script>
  </main>
<%- include('../includes/end.ejs') %>

