<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../../public/css/admin/cars.css">
    <link rel="stylesheet" href="../../public/css/admin/forms.css">
    
</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <main>
      
      <div class="product-form">
        <div class="form-control">
          <label for="trimImg1">trimImg 1</label>
          <input type="text" name="trimImg1" id="trimImg1">
        </div>
        <div class="form-control">
          <label for="trimName1">trimName 2</label>
          <input type="text" name="trimName1" id="trimName1">
        </div>
        <div class="form-control">
          <label for="trimDescription1">trimDescription 1</label>
          <input type="text" name="trimDescription1" id="trimDescription1">
        </div>
        <div class="form-control">
          <label for="stand1">stand1</label>
          <input type="text" name="stand1" id="stand1">
        </div>
        <div class="form-control">
          <label for="stand2">stand2</label>
          <input type="text" name="stand2" id="stand2">
        </div>
        <div class="form-control">
          <label for="stand3">stand3</label>
          <input type="text" name="stand3" id="stand3">
        </div>
        <div class="form-control">
          <label for="trimPrice1">trimPrice1</label>
          <input type="text" name="trimPrice1" id="trimPrice1">
        </div>
        <div class="form-control">
          <label for="engineDisplacement1">engineDisplacement1</label>
          <input type="text" name="engineDisplacement1" id="engineDisplacement1">
        </div>
        <div class="form-control">
          <label for="horsePower1">horsePower1</label>
          <input type="text" name="horsePower1" id="horsePower1">
        </div>
        <div class="form-control">
          <label for="transmission1">transmission1</label>
          <input type="text" name="transmission1" id="transmission1">
        </div>
        <div class="form-control">
          <label for="accel1">accel1</label>
          <input type="text" name="accel1" id="accel1" >
        </div>           
        <div class="form-control">
          <label for="fuelCons1">fuelCons1</label>
          <input type="text" name="fuelCons1" id="fuelCons1">
        </div>
        <div class="form-control">
          <label for="trimImg2">trimImg 2</label>
          <input type="text" name="trimImg2" id="trimImg2">
        </div>
        <div class="form-control">
          <label for="trimName2">trimName2</label>
          <input type="text" name="trimName2" id="trimName2">
        </div>
        <div class="form-control">
          <label for="trimDescription2">trimDescription 2</label>
          <input type="text" name="trimDescription2" id="trimDescription2">
        </div>
        <div class="form-control">
          <label for="stand2">stand4</label>
          <input type="text" name="stand2" id="stand2">
        </div>
        <div class="form-control">
          <label for="stand2">stand5</label>
          <input type="text" name="stand2" id="stand2">
        </div>
        <div class="form-control">
          <label for="stand3">stand6</label>
          <input type="text" name="stand3" id="stand3">
        </div>
        <div class="form-control">
          <label for="trimPrice2">trimPrice2</label>
          <input type="text" name="trimPrice2" id="trimPrice2">
        </div>
        <div class="form-control">
          <label for="engineDisplacement2">engineDisplacement2</label>
          <input type="text" name="engineDisplacement2" id="engineDisplacement2">
        </div>
        <div class="form-control">
          <label for="horsePower2">horsePower2</label>
          <input type="text" name="horsePower2" id="horsePower2">
        </div>
        <div class="form-control">
          <label for="transmission2">transmission2</label>
          <input type="text" name="transmission2" id="transmission2">
        </div>
        <div class="form-control">
          <label for="accel2">accel2</label>
          <input type="text" name="accel2" id="accel2" >
        </div>           
        <div class="form-control">
          <label for="fuelCons2">fuelCons2</label>
          <input type="text" name="fuelCons2" id="fuelCons2">
        </div>
      </div>
      <form class="product-form" action="/add-trim/<%= product.id %>" method="POST">
      <button class="btn" type="submit">Submit Changes</button>  
      </form>
  </main>
<%- include('../includes/end.ejs') %>

