<div class="header__upperImage">
<img src="https://scontent.fbey15-1.fna.fbcdn.net/v/t39.30808-6/289156648_5190762361010776_5348101362952907574_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_ohc=VUu6d5ttnGIAX_78eXf&_nc_ht=scontent.fbey15-1.fna&oh=00_AT-fCTAB3tDBhc9uopNtEMao-aqGPYeO8k5nWS8mKLpbcA&oe=62D0F83C" class="vue-logo__top" alt="Logo"> 
</div>    
    <nav>
        <div class="nav__navBox">
        <ul class="nav justify-content-center">
            <li class="nav-item__pagenav">
                <a class="nav-link__pagenav" href="/home">HOME</a>
            </li>
            
            <li class="nav-item__pagenav">
                <a class="nav-link__pagenav" href="/about">ABOUT US</a>
            </li>

            <li class="nav-item__pagenav">
                <a class="nav-link__pagenav" href="/cars">VEHICLES</a>
            </li>

            <li class="nav-item__pagenav">
                <a class="nav-link__pagenav" href="/config">CONFIGURATOR</a>
            </li>

            <li class="nav-item__pagenav">
                <a class="nav-link__pagenav" href="/contact">CONTACT US</a>
            </li>

            <li class="nav-item__pagenav">
                <a class="nav-link__pagenav" href="/add-car">ADD CAR</a>
            </li>

            <li class="nav-item__pagenav">
                <a class="nav-link__pagenav" href="/AdminCars">ADMIN CARS</a>
            </li>
        </ul>
        </div>
    </nav>


