<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="../../public/css/user/about.css">
</head>

<body class="about__body">
	<img src="https://i.imgur.com/WA5AtLa.png" class="vue-logo__top">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <nav class="about__navDiv">
    <ul class="nav justify-content-center">

      <li class="nav-item__pagenav">
          <a class="nav-link__pagenav" href="/home">HOME</a>
      </li>
      
      <li class="nav-item__pagenav">
          <a class="nav-link__pagenav" href="/about">ABOUT US</a>
      </li>

      <li class="nav-item__pagenav">
          <a class="nav-link__pagenav" href="/cars">VEHICLES</a>
      </li>

      <li class="nav-item__pagenav">
          <a class="nav-link__pagenav" href="/contact">CONTACT US</a>
      </li>

      <li class="nav-item__pagenav">
          <a class="nav-link__pagenav" href="/orders">ORDERS</a>
      </li>

      <li class="nav-item__pagenav">
          <a class="nav-link__pagenav" href="/add-car">ADD CAR</a>
      </li>

      <li class="nav-item__pagenav">
          <a class="nav-link__pagenav" href="/AdminCars">ADMIN CARS</a>
      </li>
  </ul>
</nav>
<br>

<div class="about__flexBox">
<div class="about__infoBox">
<h1 class="about__infoHeader">YOUR VUE JOURNEY STARTED WITH A SIMPLE VISION...</h1><hr>
<p class="about__infoText"> Founded in 2014 in the German town of Affalterbach, Vue Automotive GmbH operates on one simple premise: providing our clients an unprecedented luxury car experience in the most efficient package possible.<br><br>Vue Automotive might be a young company, but our extensive research and development allowed us to achieve what the established car manufacturers have struggled to for decades: delivering a truly no-compromise product. </p></div>
<div class="about__infoBox">
<h1 class="about__infoHeader">YOU DESERVE TO HAVE IT ALL...</h1><hr>
<p class="about__infoText"> Each Vue Automotive vehicle is guaranteed to deliver class-leading performance, fuel economy, and utility. All Vue automobiles provide you with a larger experience in a smaller package, outclassing their allegedly direct competitors in all aspects. </p></div>
<div class="about__infoBox">
<h1 class="about__infoHeader">YOU ARE GUARANTEED A SMOOTH EXPERIENCE...</h1><hr>
<p class="about__infoText"> Our focus on comfort and reliability ensure immunity against the elements. Furthermore, our unique 10-year/250000km warranty and home pickup and delivery service* ensure a hassle-free repair process <i> in case </i> of malfunction. </p></div><br>
<div class="about__conclusionBox">
<h1 class="about__conclusionHeader">YOU HAVE REACHED THE TOP. IT MIGHT BE LONELY UP THERE, BUT THE VUE WAS WORTH THE CLIMB.</h1>
</div>
</div>
<div class="about__disclaimer">
<!-- Special notifications pertaining to asterisks in upper text -->
<footer class="about__disclaimer">
	*Available at select dealerships. Contact your local dealership for further information.
</footer>
</div>
<%- include('../includes/end.ejs') %>