<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="../../public/css/user/index.css">
 
</head>

<body>

 <%- include('../includes/nav.ejs') %> 
  <div class="index__welcomeImageDiv">
    <a href="/cars" class="index__startExploring">
      START EXPLORING
    </a>
  </div>
  <div class="index__welcomeTextDiv">
    <h1 class="index__welcomeText"> WELCOME TO VUE AUTOMOTIVE </h1>
     <p class="index__introPar"> Ever since its inception, Vue Automotive has strived to build no-compromise cars, blending comfort, performance, and efficiency in one package. In a matter of years, we have achieved what other manufacturers have not been able to in decades. With each manufacturer having the same claims, words are not easy to trust; thus, we are giving you the opportunity to prove them yourself. </p>
  </div>
  <footer class="index__copyrightFooter">
    <p class="index__copyrightText">&copy; Copyright 2022 Vue Automotive GmbH, all rights reserved</p>
  </footer>
 
    <%- include('../includes/end.ejs') %>