<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="../../public/css/user/vehicle_config_summary.css">

</head> 

<body onload="loadHandler()">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   
<%- include('../includes/nav.ejs') %>

<div class="summary__summaryGrid">
  <div class="summary__imageGrid">
    Image Grid
    <div class="summary__imageContainer1">
      <img src="" class="summary__carImage" id="summary__carExtImage" />
    </div>
    <div class="summary__imageContainer2">
      <img src="" class="summary__carImage" id="summary__carIntImage" />
    </div> -->
  </div> 
  <div class="summary__billGrid">
  <h1 class="summary__pageHeader">Summary</h1>
    <div class="summary__infoBox">
      <h2 class="summary__pageHeader">Vehicle Base Statistics</h2>
      <p class="summary__detail" id="carname"></p>
    </div>
    <div class="summary__infoBox">
      <h2 class="summary__pageHeader">Exterior Configuration</h2>
      <p class="summary__detail" id="color"></p>
      <p class="summary__detail" id="rim"></p>
      <p class="summary__detail" id="roof"></p>
    </div>
    <div class="summary__infoBox">
      <h2 class="summary__pageHeader">Interior Configuration</h2>
      <p class="summary__detail" id="seat"></p>
      <p class="summary__detail" id="trim"></p>
    </div>
    <div class="summary__infoBox">
      <h2 class="summary__pageHeader">Additional Options</h2>
      <p class="summary__detail" id="camera"></p>
      <p class="summary__detail" id="heatedSeat"></p>
      <p class="summary__detail" id="sound"></p>
    </div>
    <br>
    <div class="summary__priceCodeDiv">
      <h2 class="summary__pageHeader">Total Price: <span class="summary__totalPrice" id="totalprice"> </span></h2>
      <h2 class="summary__pageHeader">Configuration Code: <span class="summary__configCode" id="configcode"> </span></h2>
    </div>
    <div class="summary__orderDiv">
      <button type="submit" onsubmit="" href="" class="summary__orderButton">ORDER YOUR VEHICLE</button>
    </div>
 </div>
</div>
<script type="text/javascript" src="../../public/js/Aura_Luxe_Config_Summary.js" async></script>
<%- include('../includes/end.ejs') %>