<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vue Automotive - Aura</title>
  <link rel="stylesheet" type="text/css" href="..\..\CSS\vehicle.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
  <meta name = 'viewport' content='width=device-width, initial-scale=1'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!-- Upper Logo image -->
    <img src="../../Images/VueLogW7.png" class="vue-logo__top" alt="Logo">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <hr>
    <nav>
     <ul class="nav justify-content-center">
     <li class="nav-item__pagenav">
       <a class="nav-link__pagenav" href="#">HOME</a>
     </li>
     <li class="nav-item__pagenav">
       <a class="nav-link__pagenav" href="about.html">ABOUT US</a>
     </li>
     <li class="nav-item__pagenav">
       <a class="nav-link__pagenav" href="products.html">PRODUCTS</a>
     </li>
     <li class="nav-item__pagenav">
       <a class="nav-link__pagenav" href="contact.html">CONTACT US</a>
     </li>
   </ul>
   </nav>
<br>
<hr>
<!-- Product introductory carousel -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" id="carouselImage">
      <img src="Product_Images\Aura18.png" class="d-block w-100" alt="Car">
    </div>
    <div class="carousel-item" id="carouselImage">
      <img src="Product_Images\Aura28.png" class="d-block w-100" alt="Car">
    </div>
    <div class="carousel-item" id="carouselImage">
      <img src="Product_Images\Aura3.png" class="d-block w-100" alt="Car">
    </div>
    <div class="carousel-item" id="carouselImage">
      <img src="Product_Images\Aura7.png" class="d-block w-100" alt="Car">
    </div>
    <div class="carousel-item" id="carouselImage">
      <img src="Product_Images\Aura25.png" class="d-block w-100" alt="Car">
    </div>
    <div class="carousel-item" id="carouselImage">
      <img src="Product_Images\Aura24.png" class="d-block w-100" alt="Car">
    </div>
    <div class="carousel-item" id="carouselImage">
      <img src="Product_Images\Aura21.png" class="d-block w-100" alt="Car">
    </div>
    <div class="carousel-item" id="carouselImage">
      <img src="Product_Images\Aura22.png" class="d-block w-100" alt="Car">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<h2 class="vehicle__header">VUE AUTOMOTIVE - AURA</h2>
<br>
<!-- Product information snippets -->
<div class="vehicle__flexBox">
  <div class="vehicle__infoBox-left">
    <img src="Product_Images\Aura28.png" class="vehicle__image-left">
    <h1 class="vehicle__slogan"> TWO PERSONALITIES, ZERO COMPROMISE. </h1>
    <hr> 
    <br>  
    <p class="vehicle__description"> Whether you go for the Sport or Premium trim level, the Vue Aura is a no-compromise vehicle that caters to your desires in a sleek, luxurious, and compact package.</p>
  </div>
  <div class="vehicle__infoBox-right">
    <img src="Product_Images\Aura7.png" class="vehicle__image-right">
    <h1 class="vehicle__slogan"> SMALLER SIZE &#x3d; BIGGER SPACE </h1>
    <hr> 
    <br>  
    <p class="vehicle__description"> Our liftback design and clever packaging ensure that the Vue Aura's capabilities transcend its size class. With a boot capacity of 394L, the Vue Aura outclasses competitors that are a notch bigger.</p>
  </div>
  <div class="vehicle__infoBox-left">
    <img src="Product_Images\Aura30.png" class="vehicle__image-left">
    <h1 class="vehicle__slogan"> PURISTS, REJOICE </h1>
    <hr> 
    <br>  
    <p class="vehicle__description"> Opting for the Aura Sport offers the purist a pleasant nostalgic surprise: a 6-speed manual transmission that ensures maximum man-machine connection. </p>
  </div>
  <!-- Product body specifications list -->
    <div class="vehicle__infoBox-center">
      <h3 class="vehicle__header"> Body Specifications </h3>
      <hr>
      <ul class="ul-center">
      <li class="li-center"> Bodystyle: 4-seat fastback </li>
      <li class="li-center"> Length/Width/Wheelbase: 4.20m/1.69m/2.60m </li>
      <li class="li-center"> Chassis type: Monocoque </li>
      <li class="li-center"> Chassis material: Advanced High-Strength steel w/ aluminum panels </li>
      <li class="li-center"> Engine placement: Front longitudinal </li>
      <li class="li-center"> Suspension: Double wishbone front / MultiLink rear </li>
      <li class="li-center"> Cargo space: 394L </li>
      </ul>
    </div>
    <!-- Product trim specifications table -->
    <div class="vehicle__infoBox-center">
      <h3 class="vehicle__header"> Trim Specifications </h3>
      <hr>
      <table class="tablecenter">
    <tr class="trcenter">
      <th class="thcenter"> Attribute </th>
      <th class="thcenter"> 1.6T Premium Eco </th>
      <th class="thcenter"> 1.6T Sport </th>
      <th class="thcenter"> 2.0T Sport </th>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter1"> Engine </td>
      <td class="tdcenter1"> PGV A-16I4TE </td>
      <td class="tdcenter1"> PGV A-16I4TS</td>
      <td class="tdcenter1"> PGV A-20I4TS </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter2"> Engine Material </td>
      <td class="tdcenter2"> Aluminum </td>
      <td class="tdcenter2"> Aluminum </td>
      <td class="tdcenter2"> Aluminum </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter1"> Horsepower </td>
      <td class="tdcenter1"> 143hp @ 6000RPM </td>
      <td class="tdcenter1"> 182hp @ 6200RPM </td>
      <td class="tdcenter1"> 247hp @ 6600RPM </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter2"> Torque </td>
      <td class="tdcenter2"> 207.3Nm @ 3700RPM </td>
      <td class="tdcenter2"> 232.3Nm @ 3400RPM </td>
      <td class="tdcenter2"> 299.9Nm @ 3300RPM </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter1"> Acceleration (0-60 mph) </td>
      <td class="tdcenter1"> 9.66s </td>
      <td class="tdcenter1"> 7.50s </td>
      <td class="tdcenter1"> 6.18s </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter2"> Fuel Consumption </td>
      <td class="tdcenter2"> 4.6L/100km </td>
      <td class="tdcenter2"> 5.4L/100km </td>
      <td class="tdcenter2"> 6.1L/100km </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter1"> Top Speed </td>
      <td class="tdcenter1"> 226Km/h </td>
      <td class="tdcenter1"> 240Km/h </td>
      <td class="tdcenter1"> 259Km/h </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter2"> Transmission </td>
      <td class="tdcenter2"> 7spd. advanced automatic </td>
      <td class="tdcenter2"> 6spd. manual </td>
      <td class="tdcenter2"> 6spd. manual </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter1"> Weight </td>
      <td class="tdcenter1"> 1465kg </td>
      <td class="tdcenter1"> 1450kg </td>
      <td class="tdcenter1"> 1498kg </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter2"> Tyres (Front/Rear) </td>
      <td class="tdcenter2"> P195/50R18 89V </td>
      <td class="tdcenter2"> P205/45R18 89V </td>
      <td class="tdcenter2"> P205/40R19 84W </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter1"> Driving Aids </td>
      <td class="tdcenter1"> ESC<br>Electronic LSD<br>Electric variable power steering</td>
      <td class="tdcenter1"> ESC+LC<br>Electronic LSD<br>Electric variable power steering</td>
      <td class="tdcenter1"> ESC+LC<br>Electronic LSD<br>Electric variable power steering</td>
    </tr>
  </table>
    </div>
    <a href="Aura_Trim.html" class="vehicle__infoBox-configLink">
      CONFIGURE YOUR AURA
    </a>
</div>
</body>
</html>