<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vue Automotive - Aura</title>
  <link rel="stylesheet" type="text/css" href="..\..\CSS\vehicle_trim.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
  <meta name = 'viewport' content='width=device-width, initial-scale=1'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <!-- Upper Logo image -->
  <img src="../../Images/VueLogW7.png" class="vue-logo__top" alt="Logo">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <hr>
  <nav>
   <ul class="nav justify-content-center">
   <li class="nav-item__pagenav">
     <a class="nav-link__pagenav" href="index.html">HOME</a>
   </li>
   <li class="nav-item__pagenav">
     <a class="nav-link__pagenav" href="about.html">ABOUT US</a>
   </li>
   <li class="nav-item__pagenav">
     <a class="nav-link__pagenav" href="products.html">PRODUCTS</a>
   </li>
   <li class="nav-item__pagenav">
     <a class="nav-link__pagenav" href="contact.html">CONTACT US</a>
   </li>
 </ul>
 </nav>
<br>
<hr>
<h2 class="trim__header">SELECT A TRIM LEVEL</h2>
<br>
<!-- Product information snippets -->
<div class="trim__flexBox">
  <a href="#" class="trim__infoBox-right">
    <img src="Product_Images\AuraLuxeTemplate.png" class="trim__image">
    <h1 class="trim__name"> AURA PREMIUM ECO </h1>
    <hr> 
    <br>  
    <p class="trim__description">Class-leading luxury and fuel economy
      <div class="trim__standard">
        <ul class="ul-center">
        <li class="li-center"> Chrome trim </li>
        <li class="li-center"> 18" rims </li>
        <li class="li-center"> Premium Nappa leather </li>
        </ul>
      </div>
    </p>
    <p class="trim__specs">
    <br>
    <i><strong>Starting MSRP </strong>36000$</i><br>
    <strong><i>Performance </strong>1.6L engine, 143bhp, 7spd auto transmission, 9.6s 0-60mph, 4.6L/100km fuel consumption</i><br>
  </p> 
  <a>
  <a href="Aura_Sport_Config_Exterior.html" class="trim__infoBox-right">
    <img src="Product_Images\AuraSportTemplate.png" class="trim__image">
    <h1 class="trim__name"> AURA SPORT </h1>
    <hr> 
    <br>  
    <p class="trim__description">No-compromise dynamic performance in a comfortable package
      <div class="trim__standard">
        <ul class="ul-center">
        <li class="li-center"> Dark chrome trim </li>
        <li class="li-center"> 19" rims </li>
        <li class="li-center"> Stitched Alcantara interior </li>
        </ul>
      </div>
    </p>
    <p class="trim__specs">
    <br>
    <i><strong>Starting MSRP </strong>41000$</i><br>
    <strong><i>Performance </strong>2.0L engine, 247bhp, 6spd manual transmission, 6.18s 0-60mph, 6.1L/100km fuel consumption</i><br>
  </p> 
</a>
  <!-- Product body specifications list -->
    <div class="trim__infoBox-center">
      <h3 class="trim__header"> Body Specifications </h3>
      <hr>
      <ul class="ul-center">
      <li class="li-center"> Bodystyle: 4-seat fastback </li>
      <li class="li-center"> Length/Width/Wheelbase: 4.20m/1.69m/2.60m </li>
      <li class="li-center"> Chassis type: Monocoque </li>
      <li class="li-center"> Chassis material: Advanced High-Strength steel w/ aluminum panels </li>
      <li class="li-center"> Engine placement: Front longitudinal </li>
      <li class="li-center"> Suspension: Double wishbone front / MultiLink rear </li>
      <li class="li-center"> Cargo space: 394L </li>
      </ul>
    </div>
    <!-- Product trim specifications table -->
    <div class="trim__infoBox-center">
      <h3 class="trim__header"> Trim Specifications </h3>
      <hr>
      <table class="tablecenter">
    <tr class="trcenter">
      <th class="thcenter"> Attribute </th>
      <th class="thcenter"> 1.6T Premium Eco </th>
      <th class="thcenter"> 1.6T Sport </th>
      <th class="thcenter"> 2.0T Sport </th>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter1"> Engine </td>
      <td class="tdcenter1"> PGV A-16I4TE </td>
      <td class="tdcenter1"> PGV A-16I4TS</td>
      <td class="tdcenter1"> PGV A-20I4TS </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter2"> Engine Material </td>
      <td class="tdcenter2"> Aluminum </td>
      <td class="tdcenter2"> Aluminum </td>
      <td class="tdcenter2"> Aluminum </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter1"> Horsepower </td>
      <td class="tdcenter1"> 143hp @ 6000RPM </td>
      <td class="tdcenter1"> 182hp @ 6200RPM </td>
      <td class="tdcenter1"> 247hp @ 6600RPM </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter2"> Torque </td>
      <td class="tdcenter2"> 207.3Nm @ 3700RPM </td>
      <td class="tdcenter2"> 232.3Nm @ 3400RPM </td>
      <td class="tdcenter2"> 299.9Nm @ 3300RPM </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter1"> Acceleration (0-60 mph) </td>
      <td class="tdcenter1"> 9.66s </td>
      <td class="tdcenter1"> 7.50s </td>
      <td class="tdcenter1"> 6.18s </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter2"> Fuel Consumption </td>
      <td class="tdcenter2"> 4.6L/100km </td>
      <td class="tdcenter2"> 5.4L/100km </td>
      <td class="tdcenter2"> 6.1L/100km </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter1"> Top Speed </td>
      <td class="tdcenter1"> 226Km/h </td>
      <td class="tdcenter1"> 240Km/h </td>
      <td class="tdcenter1"> 259Km/h </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter2"> Transmission </td>
      <td class="tdcenter2"> 7spd. advanced automatic </td>
      <td class="tdcenter2"> 6spd. manual </td>
      <td class="tdcenter2"> 6spd. manual </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter1"> Weight </td>
      <td class="tdcenter1"> 1465kg </td>
      <td class="tdcenter1"> 1450kg </td>
      <td class="tdcenter1"> 1498kg </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter2"> Tyres (Front/Rear) </td>
      <td class="tdcenter2"> P195/50R18 89V </td>
      <td class="tdcenter2"> P205/45R18 89V </td>
      <td class="tdcenter2"> P205/40R19 84W </td>
    </tr>
    <tr class="trcenter">
      <td class="tdcenter1"> Driving Aids </td>
      <td class="tdcenter1"> ESC<br>Electronic LSD<br>Electric variable power steering</td>
      <td class="tdcenter1"> ESC+LC<br>Electronic LSD<br>Electric variable power steering</td>
      <td class="tdcenter1"> ESC+LC<br>Electronic LSD<br>Electric variable power steering</td>
    </tr>
  </table>
    </div>
    
    </div>
</body>
</html>