<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vue Automotive - Aura Configurator</title>
  <link rel="stylesheet" type="text/css" href="..\..\CSS\vehicle_config_IntExt.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
  <meta name = 'viewport' content='width=device-width, initial-scale=1'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body  onload="changeHandler()">
    <!-- Upper Logo image -->

    <img src="../../Images/VueLogW7.png" class="vue-logo__top" alt="Logo">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <hr>
    <nav>
     <ul class="nav justify-content-center">
     <li class="nav-item__pagenav">
       <a class="nav-link__pagenav" href="index.html">HOME</a>
     </li>
     <li class="nav-item__pagenav">
       <a class="nav-link__pagenav" href="about.html">ABOUT US</a>
     </li>
     <li class="nav-item__pagenav">
       <a class="nav-link__pagenav" href="products.html">PRODUCTS</a>
     </li>
     <li class="nav-item__pagenav">
       <a class="nav-link__pagenav" href="contact.html">CONTACT US</a>
     </li>
   </ul>
   </nav>
   <hr>

<!--Dynamic Image div-->
<div class="config__dynamicImage-div" id="carIntImageDiv">
    <img class="config__dynamicImage" src="" id="carIntImage" crossorigin="anonymous">
      <h3 class="config__dynamicPrice-div"> Price: <span id="dynamic_price"> </span>$</h3>
</div>
<!--Interior options div-->
<div class="config__options-div">
<!--Seats div-->
  <h2 style="font-family: Ubuntu"> Seat </h2>
    <div class="config__options-grid">
      <a class="config__option-link" href="javascript:void(0)" onclick="setBlackAlcantaraFlag()">
      <div class="config__option-option">
        <img src="Config_Images\Sport\SeatBlackAlcantara.png" class="config__option-image" id="blackAlcantara" type="radio">
        <p>Black Alcantara<br><strong>0$</strong></p>
      </div>
      </a>
      <a class="config__option-link" href="javascript:void(0)" onclick="setRedAlcantaraFlag()">
      <div class="config__option-option">
        <img src="Config_Images\Sport\SeatRedAlcantara.png" class="config__option-image" id="redAlcantara" type="radio">
        <p>Red Alcantara<br><strong>300$</strong></p>
      </div>
      </a>
    </div>
  <!--Trim div-->
    <h2 style="font-family: Ubuntu"> Trim </h2>
    <div class="config__options-grid">
      <a class="config__option-link" href="javascript:void(0)" onclick="setAluTrimFlag()">
      <div class="config__option-option">
        <img src="Config_Images\Sport\TAl.png" class="config__option-image" id="aluTrim" type="radio">
        <p>Slatted Aluminum<br><strong>0$</strong></p>
      </div>
      </a>
      <a class="config__option-link" href="javascript:void(0)" onclick="setSpecTrimFlag()">
      <div class="config__option-option">
        <img src="Config_Images\Sport\TSpec.png" class="config__option-image" id="specTrim" type="radio">
        <p>S-Spec Dark Aluminum<br><strong>500$</strong></p>
      </div>
      </a>
    </div>
    <br>
    <a href="Aura_Sport_Config_Options.html" class="config__next" id="nextButton" onclick="intImageExporter()">
      NEXT: OPTIONS
    </a>
</div>
<script type="text/javascript" src="../../JavaScript/Aura_Sport_Config_Interior.js" async></script>
</body>
</html>