<!DOCTYPE html>
<html>
<head>
	<title>Vue Automotive - Home</title>
     <link rel="stylesheet" type="text/css" href="CSS\products.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
   <meta name = 'viewport' content='width=device-width, initial-scale=1'>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
   <!-- Upper-body Vue logo image-->
   <img src="Images/VueLogW7.png" class="vue-logo__top" alt="Logo">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   <hr>
   <nav>
    <ul class="nav justify-content-center">
    <li class="nav-item__pagenav">
      <a class="nav-link__pagenav" href="index.html">HOME</a>
    </li>
    <li class="nav-item__pagenav">
      <a class="nav-link__pagenav" href="about.html">ABOUT US</a>
    </li>
    <li class="nav-item__pagenav">
      <a class="nav-link__pagenav" href="#">PRODUCTS</a>
    </li>
    <li class="nav-item__pagenav">
      <a class="nav-link__pagenav" href="contact.html">CONTACT US</a>
    </li>
  </ul>
  </nav>
  <br>
  <hr>
<!-- Product cabinets -->
<h2 class="products__header">CHOOSE YOUR DREAM VEHICLE</h2>
<br>
<div class="products__gridContainer">
	<a href="Vehicles\Aura\Aura.html" class="products__productCase">
	<div class="products__product">
		<img src="Vehicles\Aura\Product_Images\Aura7.png" class="products__productImage">
		<br>
		<h2 class="products__productName">AURA</h2>
		<hr>
		<p class="products__productDescription">A subcompact, no-compromise luxury car offering a class-pioneering experience that punches way above its size in space and refinement.<br><br><i>Starting MSRP<strong> 36000$</strong></i></p>
		</div>
		</a>
	<a href="Vehicles\Aurelius\Aurelius.html" class="products__productCase">
	<div class="products__product">
		<img src="Vehicles\Aurelius\Product_Images\Aurelius2.png" class="products__productImage">
		<br>
		<h2 class="products__productName">AURELIUS</h2>
		<hr>
		<p class="products__productDescription">A subcompact SUV for purists, offering standout features, suicide doors, and even an old-school 6-speed manual transmission in Sport trim.<br><br><i>Starting MSRP<strong> 41000$</strong></i></p>
	</div>
</a>
<a href="Vehicles\Turin\Turin.html" class="products__productCase">
	<div class="products__product">
		<img src="Vehicles\Turin\Product_Images\Turin17.png" class="products__productImage">
		<br>
		<h2 class="products__productName">TURIN</h2>
		<hr>
		<p class="products__productDescription">A two-faced posh convertible that evokes the styling of 60s grand tourers while satisfying the needs of even the most demanding thrill-seekers.<br><br><i>Starting MSRP<strong> 75000$</strong></i></p>
	</div>
</a>
<a href="Vehicles\Syrah\Syrah.html" class="products__productCase">
	<div class="products__product">
	<img src="Vehicles\Syrah\Product_Images\Syrah6.png" class="products__productImage">
		<br>
		<h2 class="products__productName">SYRAH</h2>
		<hr>
		<p class="products__productDescription">A mid-engined personal luxury coupe, offering a cushiony ride and state-of-the-art amenities in a sleek, unique package.<br><br><i>Starting MSRP<strong> 60000$</strong></i></p>
	</div>
</a>
<a href="Vehicles\Erudite\Erudite.html" class="products__productCase">
	<div class="products__product">
	<img src="Vehicles\Erudite\Product_Images\Erudite10.png" class="products__productImage">
		<br>
		<h2 class="products__productName">ERUDITE</h2>
		<hr>
		<p class="products__productDescription">A MPV that seeks to redefine the segment and eliminate the soccer-mom stigma while providing lavish amenities for the whole family.<br><br><i>Starting MSRP<strong> 48000$</strong></i></p>
	</div>
</a>
<a href="Vehicles\Hellenbach\Hellenbach.html" class="products__productCase">
	<div class="products__product">
	<img src="Vehicles\Hellenbach\Product_Images\Hellenbach14.png" class="products__productImage">
		<br>
		<h2 class="products__productName">HELLENBACH</h2>
		<hr>
		<p class="products__productDescription">A full-on, no-holds-barred performance car that looks restrained on the outside yet offers a pleaseant surprise once the pedal is pushed.<br><br><i>Starting MSRP<strong> 68000$</strong></i></p>
	</div>
</a>
</div>

</body>
</html>